name: Run pre-commit hooks & push changes

on:
  pull_request:
    paths:
      - '**.py'

jobs:
  run-hooks:
    name: Run Pre-Commit hooks and push changes back
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the code
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.ref }}

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.12

      - name: Install pre-commit
        run: |
          python -m pip install --upgrade pip
          python -m pip install pre-commit

      - name: Run pre-commit hooks
        run: |
          pre-commit run --all-files || true

      - name: Commit and push changes if pre-commit made any modifications
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          if [ -n "$(git status --porcelain)" ]; then
            git add .
            git commit -m "precommit: reformat"
            git push
          fi
